body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
.sidebar.sidebar-right {
    right: 0;
}
/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

#right-sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 250px;
    width: 0;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
@media (min-width: 768px)
#right-sidebar-wrapper {
    width: 250px;
}
#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}
@media (min-width: 768px)
#page-content-wrapper {
    padding: 20px;
    position: relative;
}
img{
	padding: 0;
	margin: 0;
}
.img-100{
	max-height:100px;
	background-size:contain;
	padding: 10px;
}
.my-4{
	height=4rem;
}
.id{
	
}
.name{
	font-weight: 700;
}
#pokemon-list{
	width:100%;
}
#pokemon-list tr{
	height:20px;
}
.table td, .table th{
	vertical-align: middle;
}
th input{
	border:none;
	background-color: transparent;
	color:inherit;
	
}

th input:placeholder-shown{
	background-color: transparent;
}
.sprite{
	height: 50px;
}
.sprite img{
 height:100%;
}
.type{
	color: floralwhite;
	border-radius: 10px;
	text-align: center;
}
.type:hover{
	color:inherit;
	opacity: 90%;
}
.Grass{
	background-color: #9bcc50;
}
.Water{
	background-color:#4592C4;
}
.Bug{
	background-color: #729F3F;
}
.Dark{
	background-color:#707070;
}
.Dragon{
	background-color: #F16E57;
}
.Electric{
	color:dimgray;
	background-color:#EED535;
}
.Fighting{
	background-color: #D56723;
}
.Flying{
	background-color:#3DC7EF;
}
.Ghost{
	background-color: #7B62A3;
}
.Ground{
	background-color:#AB9842;
}
.Ice{
	background-color: #51C4E7;
}
.Normal{
	background-color:#A4ACAF;
}
.Poison{
	background-color: #B97FC9;
}
.Psychic{
	background-color:#F366B9;
}
.Rock{
	background-color: #A38C21;
}
.Steel{
	color:dimgray;
	background-color:#9EB7B8;
}
.Fire{
	background-color: #FD7D24;
}
.Fairy{
	background-color: #FDB9E9;
}
#pokemon-list::-webkit-scrollbar {
    visibility: hidden;
	display: none;
}