body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
.sidebar.sidebar-right {
    right: 0;
}
/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

#right-sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 250px;
    width: 0;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
@media (min-width: 768px)
#right-sidebar-wrapper {
    width: 250px;
}
#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}
@media (min-width: 768px)
#page-content-wrapper {
    padding: 20px;
    position: relative;
}
img{
	padding: 0;
	margin: 0;
}
.id{
	
}
.name{
	font-weight: 700;
}
.sprite{
	height: 50px;
}
.sprite img{
 height:100%;
}
.type{
	color: floralwhite;
	border-radius: 10px;
	text-align: center;
}
td.Grass{
	background-color: forestgreen;
}
td.Water{
	background-color:aqua;
}
td.Bug{
	background-color: yellowgreen;
}
td.Dark{
	background-color:darkslategray;
}
td.Dragon{
	background-color: rebeccapurple;
}
td.Electric{
	color:dimgray;
	background-color:yellow;
}
td.Fighting{
	background-color: orangered;
}
td.Flying{
	background-color:skyblue;
}
td.Ghost{
	background-color: mediumpurple;
}
td.Ground{
	background-color:sandybrown;
}
td.Ice{
	color:dimgray;
	background-color: aliceblue;
}
td.Normal{
	background-color:whitesmoke;
}
td.Poison{
	background-color: purple;
}
td.Psychic{
	background-color:pink;
}
td.Rock{
	background-color: saddlebrown;
}
td.Steel{
	color:dimgray;
	background-color:lightslategray;
}
#pokemon-list::-webkit-scrollbar {
    visibility: hidden;
	display: none;
}